<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Runeterra toolbox</title>
    <meta name="description" content="runeterra tools">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

<!--    <link rel="manifest" href="site.webmanifest">-->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
<main>
    <div id="logo-container">
        <img id="logo" src="logo-runeterra.png"/><h1>Sprite picker</h1>
    </div>
    <div id="app">
        <div id="currentSpriteBlock" class="flex">
            <div id="currentSpriteMask" class="card">
                <sprite v-bind:sprite="getCurrentSpriteAndColor"></sprite>
            </div>


            <div id="color-picker-container" class="card flex"
                 v-if="isColorable()"
                 title="Only the first 24 sprites can be colored.">
<!--                <div>💬</div>-->
                <input type="color" v-model="currentColor"/>
                <div>{{currentColor}}</div>
                <button @click="resetColor">reset color</button>
            </div>

            <div id="sprite-to-text-block" class="card flex">
                <h2>{{ getSpriteCode }}</h2>
                <button @click="copyToClipBoard">copy to clipboard</button>
            </div>
        </div>

        <div id="grid">
            <sprite v-for="sprite in sprites" v-bind:sprite="sprite" @spriteselected="selectSprite"></sprite>
        </div>

    </div>

</main>

<script src="https://unpkg.com/vue@next"></script>
<script src="js/vendor/modernizr-3.11.2.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/app.js"></script>
<!--<script src="js/main.js"></script>-->

</body>

</html>
